## Visual Studio / .NET gitignore
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
**/[Bb]in/*
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
project.lock.json
artifacts/
.artifacts/
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
node_modules/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
BenchmarkDotNet.Artifacts/
